<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        <%= @country.name %>
      </h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

<div><%= link_to "ゲストハウス",  country_guesthouses_path(@country) %></div>

      </div>
    </div>
  </div>
</section>

