<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        <%= @country.name %>
      </h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

      <div class="option"><%= link_to "ゲストハウスをチェックする",  admin_country_guesthouses_path(@country), class: "option-letter" %></div>
      <div class="option"><%= link_to "レストランをチェックする",  admin_restaurants_path(@country), class: "option-letter" %></div>
      <div class="option"><%= link_to "アクティビティをチェックする", country_activities_path(@country), class: "option-letter" %></div>

      </div>
    </div>
  </div>
</section>
