<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        Where will you stay?<br><br>
      </h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

<table class="table">
  <thead class="table-active">
  	<tr>
  		<th>名前</th>
  		<th>住所</th>
  		<th>国</th>
  		<th>宿泊料金</th>
  		<th>詳細</th>
  	</tr>
  </thead>

  <tbody>
    <% @guesthouses.each do |guesthouse| %>
        <tr>
          <td><%= guesthouse.name %></td>
          <td><%= guesthouse.address %></td>
          <td><%= guesthouse.country.name %></td>
        </tr>
    <% end %>
  </tbody>

</table>

      </div>
    </div>
  </div>
</section>