  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        <%= @guesthouse.name %><br><br>
      </h3>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= @guesthouse.name %>
        <%= @guesthouse.address %>
      </div>
    </div>
  </div>
</section>

<%= render @guesthouse.review %>