
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">
				Backpackerとは
			</h1>
			<p class="text-center">
        バックパッカーとは、「お金はない。でもとことん旅を楽しみたい！」と考えている、生粋のバックパッカーに向けた情報共有サイトです。<br>
        旅先で訪れた、コスパの良い飲食店やゲストハウス、アクティビティや観光スポットをあなたが投稿することで、<br>
        貧乏バックパッカーのQOT(Quality of traveling)はどんどん向上していきます。<br>
        さあ、Backpackerと共に、世界を旅しましょう！</p>
			</p>
		</div>
	</div>
</div>