<% if @activity_comment.errors.any? %>
 <%= @activity_comment.errors.count %>件のエラーが発生しました
<ul>
<% @activity_comment.errors.full_messages.each do |message| %>
 <li><%= message %></li>
<% end %>
</ul>
<% end %>