<% if @restaurant.errors.any? %>
  <%= @restaurant.errors.count %>件のエラーが発生しました
  <ul>
    <% @restaurant.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>